test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*storybook.log

admin_info.txt


# Folders
**/deprecated/
**/_deprecated/
**/demo/
**/lucia/

# src
test.svelte
src/routes/db-test/commands db structure.txt
# deprecated/
# src/routes/deprecated/
# src/routes/depricated/home.svelte
# src/routes/depricated/TestComponent.svelte
# src/routes/depricated/userList.svelte
# src/lib/server/db/ignore/fixed-relations.js
# fixed-relations.js