@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap');

.storybook-button {	
    display: flex !important;
    column-gap: .5rem;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    display: inline-block;
    cursor: pointer;
    border-radius: 3em;
    font-weight: 700;
    line-height: 1;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --shadow: #3b3b3b21;
    --highlight: #ffffff;
    --mild_hightlight: #cecece;
    white-space: nowrap;
    align-content: center;
    align-items: center;
	--initial-color: none;
    /* display: flex !important; */
    /* display: inline-block; */
	/* column-gap: .5rem; */
	/* font-weight: 400; */
    /* border-radius: 3em; */
	/* display: block !important; */
    /* justify-content: center; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* cursor: pointer; */
    /* align-items: center; */
    /* align-content: center; */
    /* white-space: nowrap; */
	/* gap: 10px; */
}


.storybook-button.gray{
	/* --initial-color: rgba(from var(--accent) r g b / 50%); */
	/* --initial-color	: var(--accent);	 */
	/* --initial-color: var(--negative-accent-translucent); */
	/* --initial-color: var(--secondary-very-translucent);	 */
	--initial-color: var(--secondary);	
}

.storybook-button {	
	font-weight: 400;
    border-radius: 3em;
	line-height: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	flex-wrap: nowrap;
	white-space: nowrap;
/* grid-template-rows: repeat(auto, 1fr); */

}
/* 
.storybook-button svg{
	display: var(--fa-display, inline-block);
	line-height: 1;
} */

.storybook-button--hollow{
	background-color: transparent;
	border-width: .1rem;
	color: var(--secondary-bg);
	border-color: var(--secondary-bg);
}

.storybook-button--hollow:hover{
	color: var(--accent-brighter);
	border-color: var(--accent-brighter);
	box-shadow: none;
 }




@keyframes neonFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
	opacity: 1;
	text-shadow: 0 0 2px #ffe09798, 0 0 1px #d8c08798, 0 0 .5px #c9ad6c98;
  }
  20%, 22%, 24%, 55% {
	opacity: 0.8;
	text-shadow: none;
  }
}



.storybook-button--primary:hover {
	--initial-color: var(--accent-dark);
	background-color: var(--initial-color);
	/* background-color: var(--accent-dark); */
}
.storybook-button--primary {
	--initial-color: var(--accent-medium);
	display: flex;
	flex-wrap: nowrap;
  /* background-color: var(--accent-medium); */
  background-color: var(--initial-color);
  color: var(--primary-bg);
  text-shadow: 0px 0px 3px var(--shadow);
}
.storybook-button--osl{


	background-color: transparent;
	border-color: var(--secondary) !important;
	border-color: var(--secondary-brighter) !important;
	color: var(--secondary-inv)!important;
	/* border-color: var(--primary-inv) !important; */
	box-shadow: none;
	/* box-shadow: 0px 0px 2px #fbce66 !important; */
	/* box-shadow: 0px 0px 2px var(--secondary-inv)!important; */

	/* color: #ffffff; */
	/* --osl-highlight:#f9f4db; */
	/* --text-shadow: #0000006c; */
	/* text-shadow:0px 0px 3px  var(--osl-shadow), -0px -0px 3px var(--osl-highlight); */
	/* text-shadow:0px 0px 3px  black, -0px -0px 3px red; */
}
.storybook-button--osl:hover{	
	/* --osl-highlight:#ffffff; */
	color: #f9f4db;
	border-color: #f9f4db;
	color: var(--white) !important;
	/* border-color: var(--white) !important; */
	background-color: transparent !important;
	filter: drop-shadow(0px 0px 2px #fbce66) !important;
	box-shadow: 0px 0px 2px #fbce66 !important;
}

.storybook-button--dark_bg{
	color: var(--accent-translucent)!important;
	box-shadow:  0px 0px 0px 1px var(--accent-translucent) !important;
	background-color: transparent!important;
}
.storybook-button--dark_bg:hover{
	background-color: var(--accent-very-translucent)!important;
	/* color: var(--accent-deep-shade)!important; */
	/* background-color: var(--accent-translucent)!important; */
	box-shadow:  0px 0px 0px 1px var(--accent-very-translucent) !important;
	
}

.storybook-button--secondary {
	/* box-shadow:var(--shadow) 0px 0px 0px 1px inset;  */
	box-shadow:var(--accent-medium) 0px 0px 0px .5px inset; 
	/* > TEST */
	box-shadow:var(--accent-dark) 0px 0px 0px .8px inset;
	/* font-size: medium; */
	/* font-weight: 100;  */
	
	/* border: .1px solid var(--accent-dark); */
	/* border-color: var(--accent-dark); */
	/* border-width: 1px; */
	/* border-width: .01rem; */

	background-color: transparent;
	color: var(--white);
	color: #5b7051ee;
	color: #78966ae7;
	/* TODO [ ]: change to var */
	color: #989b97be;
	color: var(--secondary);
	color: var(--accent-dark);
	border-color: var(--accent-dark);
}


.storybook-button--secondary:hover{
	/* filter: opacity(50%); */

	border-color: var(--accent-shade);

	background-color: var(--accent-medium);
	background-color: var(--accent-translucent);
	/* background-color: var(--accent-very-translucent); */
	color: var(--third-bg);
	border:none;
	box-shadow: none;
	/* box-shadow:var(--shadow) 0px 0px 0px 1px inset; 
	box-shadow:var(--accent) 0px 0px 0px 1px inset;  */
}

/* .storybook-button--secondary:hover{
	color: var(--accent-medium);
	border-color: var(--accent-dark);
	border-color: var(--accent-deep-shade);
	border-color: var(--accent-shade);

	background-color: var(--accent-translucent);
	background-color: var(--secondary-bg);
	background-color: var(--primary-bg);
	box-shadow:var(--shadow) 0px 0px 0px 1px inset; 
	box-shadow:var(--accent) 0px 0px 0px 1px inset; 
} */



.storybook-button--neomorphic {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	box-shadow: 1px 1px 1px var(--shadow),  -1px -1px 1px var(--white), 5px 5px 10px  var(--shadow), -5px -5px 10px var(--highlight);
	/* TODO [ ]: ; change to var */
}

.storybook-button--neomorphic:hover {
	color: var(--accent-medium);
	/* color: var(--accent-dark);
	border-color: var(--accent-dark);
	border-color: var(--accent-deep-shade);
	border-color: var(--accent-shade);

	background-color: var(--accent-translucent);
	background-color: var(--secondary-bg);
	background-color: var(--primary-bg);
	box-shadow:var(--shadow) 0px 0px 0px 1px inset; 
	box-shadow:var(--accent-dark) 0px 0px 0px 1px inset;  */
	box-shadow: .5px.51px .5px var(--shadow),  -.5px -.5px .5px var(--white), 3px 3px 5px  var(--shadow), -3px -3px 5px var(--highlight);

}

.storybook-button--neomorphic:active {
	color: var(--accent);
	background-image: linear-gradient(145deg, var(--primary-bg), var(--secondary-bg)); 
}

.storybook-button--neomorphic-osl{
	color: #ffffff;/* TODO [ ]: ; change to var */
	--osl-highlight:#f9f4db;/* TODO [ ]: ; change to var */
	--osl-highlight:#fbce66;/* TODO [ ]: ; change to var */
	--osl-shadow: #0000006c;/* TODO [ ]: ; change to var */

	text-shadow:1px 1px 3px var(--osl-highlight), -0px -0px 3px  var(--osl-shadow);
	text-shadow:1px 1px 3px var(--osl-highlight);
	text-shadow: -1px -1px 3px var(--osl-highlight), 1px 1px 3px var(--osl-shadow);
}


.storybook-button--rounded{
	border-radius: .5rem;

}

/* ____________________________________________________________________________________________________ */

.storybook-button--neomorphic-osl_off {

	font-family: Lucida Grande;
	background-color: #666666;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: rgba(255,255,255,0.5) 0px 0px .02rem; /* TODO [ ]: ; change to var */
	
}



@media (max-width: 890px) {
	.storybook-button--icon-text span {
		display: none !important;
	}
	.storybook-button--icon-text{
		/* align-items: center; */
		/* justify-content: center; */
		padding: 10px 12px !important;
		min-width: 44px;
	}
}

/* .storybook-button--icon-text{ */
	/* display: flex !important;
	align-items: baseline !important;
	justify-content: center !important; */
	/* border: 1px solid red; */
	/* border-radius: 0; */
	/* padding:0; */
	/* height:100%; */
	/* row-gap: 0; */
	/* column-gap: 0 !important; */
/* } */

/* .storybook-button--icon-text .icon{ */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
/* } */
/* .storybook-button--icon-text svg{ */

	/* font-size: inherit !important;  */
	/* font-size: x-small !important; */
	/* font-size: small !important; */
	/* font-size: smaller !important; */
	/* font-size: medium !important; */
	/* font-size: 14px !important; */
	/* font-size: 1.1rem !important; */
	/* font-size: 24px !important; */
	
	/* border: 1px Ssolid red; */
	/* display: flex; */
	/* align-items: center; */
	/* align-items: baseline !important; */
	/* justify-content: center; */
/* } */

.storybook-button--icon-text span{
	color: var(--accent-dark);
	/* border: 1px solid red; */
	/* display: flex; */
	/* align-items: center !important; */
	/* align-items: baseline !important; */
	/* align-items: stretch !important; */
	/* justify-content: center; */
}

/* ____________________________________________________________________________________________________ */
.storybook-button--small {
	padding: 10px 16px;
	
	/* padding: .5rem 1.25rem; */
	/* font-size: 12px !important; */
	/* font-size: 14px !important; */
	/* font-size: x-small !important; */
	/* font-size: smaller !important; */
	/* font-size: small !important; */
	/* font-size: medium !important; */
  
  }
  .storybook-button--medium {
	padding: 11px 20px;
	font-size: 14px;
	/* margin:0 4rem; */
  }
  .storybook-button--large {
	/* padding: 12px 24px; */
	padding: .6rem 1.2rem;
	font-weight: 100;
	font-size: 16px;
	line-height: 1.5rem;
	/* border-radius: 0.5rem; */
	/* font-size: 1.2rem; */
	/* margin:0 4rem; */
  }

    .storybook-button--larger {
	padding: 1.2rem 2.4rem;
	padding: 1.2vw 2.4vw;
	padding: 1vw 2vw;
	/* padding: 1.5vw 0; */
	/* padding: .6rem 1.2rem; */
	/* width: 15rem; */

	font-weight: 500;
	font-size: 16px;
	font-size: 1.2vw;
	font-size: 1vw;
	font-size:calc(8px + .5vw);

	padding: calc(.5vw + .5vw) calc(1vw + .5vw);
	/* padding: 1rem; */
	max-height:4rem;
	min-width: 10rem;
	min-height: 2.5rem;
	font-size:calc(8px + .5vw);
	

	/* font-weight: 200 !important; */
	/* line-height: 1.5rem; */
	/* border-radius: 0.5rem; */
	/* font-size: 1.2rem; */
	/* margin:0 4rem; */
  }
@media (min-width: 1200px) {
	    .storybook-button--larger {
			font-size: 1.1rem;
			font-size: 14px;
			/* font-size: 12px; */
		}
  }
  
  .storybook-button--iconLeft {
	min-width: 150px;
padding-left: 0;
/* padding-left:1rem; */
padding-right:1rem;

display: flex;
justify-content: space-evenly;
/* text-align: left; */
  }
  
  .storybook-button .wide{
	width: 100%;
  }
  
  #wide{
	display: flex;
	flex-grow: inherit;
	width: 100%;
  }
  
.storybook-button--primary.glass{
	/* --negative-accent-brightest: hsl(from var(--negative-accent) calc(h + 5) calc(s * 0.8) calc(l * 2.1)); */
    /* --initial-color: inherit; */
	/* --initial-color: ; */
    /* --initial-color: color-mix(in srgb, var(--inherited-glass, transparent) 100%, transparent 0%); */
    /* background: var(--initial-color); */
    /* background:color-mix(in srgb, var(--inherited-glass, transparent) 95%, transparent 90%); */





	/* --initial-color: :hsla(from initial calc(a + .1) );
	background: var(--inherited-glass); */

	/* background: rgba(255, 255, 255, 0.15); */
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 1;
	backdrop-filter: blur(30px);
	border: 1px solid rgba(255, 255, 255, 0.15);
	border:none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); */



		background: color-mix(in srgb, var(--initial-color) 40%, transparent);
	background: color-mix(in srgb, var(--initial-color) 80%, transparent);
	
}