

.storybook-header .button-container{
	column-gap: .5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.storybook-header {
	/* temp */
	/* visibility: hidden;  */
	/* temp */

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: var(--third-bg);
	column-gap: 1rem;
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
	/* row-gap: 1rem; */
}

.storybook-header {
	/*> transparent test */
	
	background-color: transparent;
	width: 100%;
	position: absolute;
	top: 1;
	z-index: 1;
}

.storybook-header {
	/*> glass test */
	
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 1;
	backdrop-filter: blur(30px);
	border: 1px solid rgba(255, 255, 255, 0.15);
	border:none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
	
	backdrop-filter: blur(15px); */
}
.storybook-header{
	/* >glass color */
	/* ? make a function that does this: 
	? if page != "/home" or "/": make header visible. else transparent. 
	*/
	/* background: var(--third-bg); */
	/* background: color-mix(in srgb, var(--third-bg) 60%, transparent); */
	/* background: color-mix(in srgb, var(--third-bg) 40%, transparent); */

	/* background: rgba(255, 255, 255, 0.15); */
	/* background: rgba(0, 0, 0, 0.123); */
	/* background: rgba(130, 146, 95, 0.15); */
	/* background: rgba(78, 88, 57, 0.229); */
}

.title-card{
	/* background-color: #3b4236; */
	/* border-radius: 3rem; */
	/* border-radius: 1rem; */
	/* display: flex; */
	/* padding: 1rem; */
	/* box-shadow: inset 7px 7px 5px #232720, inset -1px -1px 5px #2c3129, 1px  1px 2px #6a7561; */
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-header span { 
	color: var(--accent);
}
.storybook-header h1 {
	/* margin: 6px 0 6px 10px; */
	/* padding: 1rem; */
	/* font-weight: 700; */
	line-height: 0;
	font-size: 18px;
	/* font-size: clamp(16px, 4vw, 20px); */
	/* font-size: clamp(10px, 4vw, 20px); */
	/* font-size: calc(4vw / 2); */
	/* font-size: clamp(14px, calc(4vw / 1.5), 20px); */
	
	/* font-size: calc(100% - 1px); */
}

.storybook-header button + button {
  /* margin-left: 10px; */
}

.storybook-header .welcome {
  margin-right: 10px;
  color: #333;
  font-size: 14px;
}
.menu-button-container {
/* visibility: hidden; */
display: none;
}

@media (max-width: 500px) {
	.register-button-container {
		/* visibility: hidden; */
		display: none;
	}
		.menu-button-container {
		/* visibility: hidden; */
		display:contents;
	}
}