/* .neumorphic-extrude {
	box-shadow: 1px 1px 1px #b1b1b1,  -1px -1px 1px #ffff, 5px 5px 10px  #c4c4c47e, -5px -5px 10px #ffffff; 
	color: grey;
	background: #f7f7f7;
	box-sizing: border-box;
	padding: 0 1rem;
	width: 100%;
}

.neumorphic-inset {
	box-shadow: inset 3px 3px 6px  #c4c4c47e, inset -3px -3px 6px #ffffff, inset 0px 0px 20px  #c4c4c47e;
	color: grey;
	background: #f7f7f7;
	box-sizing: border-box;
	padding: 0 1rem;
	width: 100%;
	height: 48px;
} */

.round{
	border-radius: 3rem;
}
.rounded{
	border-radius: 1rem;
}