.container.outer{
	cursor: pointer;
	position: relative;
	width: 5.6rem;
	height: 2.6rem;
	padding:1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
  }

  .container.inner{
	cursor: pointer;
	border-radius: 2rem;  
	position: relative;
	width: 5.4rem;
	height: 2.4rem;
	height: inherit;
	width: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	box-shadow: 1px 1px 1px #3f443c,  -1px -1px 1px #879282, 5px 5px 10px #1e241a, -5px -5px 10px #607556;
  }


/* BEFORE CLICK */
.button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-radius: 2rem;
	border: .13rem solid #000000af;
	background-color: transparent;
	background-image: linear-gradient(145deg, #45523e, #6a805e); 
	box-shadow:  inset -1px -1px 1px #86997b, inset 1px 1px 1px #a5b39f;
}

.container.outer button {
	display: none;
}

/* (after click) */	
.container.outer  button:hover + .button { 
	/* animation: animeBorderFlicker 2s steps(4, jump-start) infinite , animeBorder 0.901s linear alternate-reverse infinite; */
	/* animation:  animeBorder .9s steps(4, jump-start) linear  infinite; */
	/* animation: animeBorder 0.901s linear alternate-reverse infinite, animeBorderFlicker 2s steps(4, jump-start) infinite; */
	/* animation: animeFillboarder 1s linear alternate-reverse infinite; */
	/* animation: animeBorderFlicker 2s steps(4, jump-start) infinite; */
	/* animation: animeBorder 0.901s linear alternate-reverse infinite; */
	border-color: #fbce6656;
	border-color: #ffffffa4;
	background-image: linear-gradient(160deg, #45523e, #6a805e);
	box-shadow:  inset -1px -1px 1px #535f4c, inset 1px 1px 1px #96a38f,  -1px -1px 1px #485242,  1px 1px 1px #454b42;
	box-shadow:  inset -1px -1px 4px #fbce6693, inset 1px 1px 4px #fbce668e,  -1px -1px 1px #485242,  1px 1px 1px #454b42;
	filter: drop-shadow(0px 0px 2px #fbce6693);

	/* box-shadow:-1px -1px 1px #485242,  1px 1px 1px #454b42; */
}

.container.outer  button:hover + .button h2 {
	color: #f1e9d6;
	color: #ffffff;
	/* filter: drop-shadow(0px 0px 2px #fbce66); */
	/* animation: animeFill 0.31s steps(4, jump-start) linear alternate-reverse infinite; */
	/* animation: animeFill .3s linear alternate-reverse infinite; */
	/* steps(5, jump-both) infinite; */
	/* animation: animeBorder .17s steps(4, jump-start) infinite; */
	/* animation: neonFlicker 2s steps(4, jump-start) infinite; */




	/* animation: neonFlicker 2s steps(4, jump-start) infinite; */
	/* animation: animeFill 1s linear alternate-reverse infinite; */
	
	/* animation: neonFlicker 2s steps(4, jump-start) infinite, animeFill .5s linear alternate-reverse infinite; */
	animation: neonFlicker .05s steps(4, jump-start) infinite, animeFill .5s linear alternate-reverse infinite;
}  

/* .container button:hover + .button {
	filter: drop-shadow(0px 0px 2px #fbce66);
	animation: animeBorder .7s steps(4, jump-start) infinite;
	color: #ffffff;
	animation: neonFlicker 2s linear infinite;
  } */


/* .container.outer  button:active + .button h2 + button{
	box-shadow:  inset -1px -1px 1px #708067, inset 1px 1px 1px #848f7f;
} */

.container.inner  button:active + .button { 
	background-image: linear-gradient(160deg,  #627258, #4c5a45);
  }

/* .button .icon h2{
	width: 15px;
	height: 15px;
	display: inline-block;
} */ 

.container.inner h2 {
	/* font-weight: 700;
	line-height: 1;
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  
	filter: drop-shadow(-.5px -.5px 0.2px rgb(44, 44, 44));
	color: #a5a5a5bd;
	color: #b7c5b1e7;
	padding: 10px 16px;
	font-size: 12px;
}




@keyframes animeFill {
to {
	/* fill: #fbce6694; */
	/* filter: drop-shadow(0px 0px 2px #8b660e); */
}
}
/* OLD */
@keyframes animeBorder {
to {
	border-color: #fbce6659;
	/* border-color: #fbce6698; */
	/* filter: drop-shadow(-1px -1px 3px #ff000000); */
	filter: drop-shadow(-1px -1px 1px #828b58, 1px 1px 1px #acb39f);
	/* box-shadow:  inset -1px -1px 1px #828b58, inset 1px 1px 1px #acb39f; */
	/* text-shadow: 0 0 10px #fbce6698, 0 0 20px #fbce6698, 0 0 30px #fbce6698; */


}
}

@keyframes animeBorderFlicker {
	0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
	border-color: #fbce6656;
	  opacity: 1;
	  /* filter: drop-shadow(-1px -1px 3px #ffecc098); */

	  box-shadow:  inset -1px -1px 1px #666d4580, inset 1px 1px 1px #a0a89085;

	  	  /* text-shadow: 0 0 10px #fbce6698, 0 0 20px #fbce6698, 0 0 30px #fbce6698; */


	}
	20%, 22%, 24%, 55% {
	  opacity: 0.6;
	  text-shadow: none;
	}
  }


/* .button .icon svg {
height: 100%;
width: 100%;
fill: #a5a5a5bd;
} */


/* .container button:checked + .button {
	animation: animeBorder .7s steps(4, jump-start) infinite;
	color: #ffffff;
  }
  
  .container button:checked + .button .icon svg {
	animation: animeFill .5s steps(5, jump-both) infinite;
  } */

  /* NEON FLICKER */


  /* NEON FLICKER */
  @keyframes animeFillboarder {
	  0% {
  
		filter: drop-shadow(  1px 1px 1px #acb39f);
	  }
	  10% {
  
		filter: drop-shadow(-1px -1px 4px #fcde9998, 1px 1px 1px #acb39f);
	  }
	  11% {
		border-color: #fbce6659;
		filter: drop-shadow(-1px -1px 1px #fbce6698, 1px 1px 1px #acb39f);
	  }
	  12% {
  
		filter: drop-shadow(-1px -1px 6px #fcde9998, 1px 1px 1px #acb39f);
	  }
	  50% {
		  border-color: #fbce6659;
		filter: drop-shadow(-1px -1px 3px #fbce6698, 1px 1px 1px #acb39f);
	  }
	  51% {
		/* color: #ffeb78b0; */
		filter: drop-shadow(-1px -1px 1px #fbce6698, 1px 1px 1px #acb39f);
	  }
	  52% {
  
		filter: drop-shadow(-1px -1px 8px #fcde9998, 1px 1px 1px #acb39f);
	  }
	  80% {
		  border-color: #fbce6659;
		filter: drop-shadow(  1px 1px 1px #acb39f);
	  }
	  81% {
		/* color: #ffeb7840; */
		filter: drop-shadow(-1px -1px 1px #fcde9998, 1px 1px 1px #acb39f);
	  }
	  82% {
		  border-color: #fbce6659;
		filter: drop-shadow(-1px -1px 5px #fcde9998, 1px 1px 1px #acb39f);
	  }
	  100% {
  
		filter: drop-shadow(  1px 1px 1px #acb39f);
	  }
	}
  
/* NEON FLICKER */
@keyframes animeFill {
	0% {

	  filter: drop-shadow(0 0 2px #fbce6698);
	}
	10% {

	  filter: drop-shadow(0 0 4px #fcde9998);
	}
	11% {
	  /* color: #f5f2e3; */
	  filter: drop-shadow(0 0 1px #fbce6698);
	}
	12% {

	  filter: drop-shadow(0 0 6px #fcde9998);
	}
	50% {
		/* color: #f5f2e3; */
	  filter: drop-shadow(0 0 3px #fbce6698);
	}
	51% {
	  /* color: #ffeb78b0; */
	  filter: drop-shadow(0 0 1px #fbce6698);
	}
	52% {

	  filter: drop-shadow(0 0 8px #fcde9998);
	}
	80% {
		/* color: #f5f2e3; */
	  filter: drop-shadow(0 0 2px #fbce6698);
	}
	81% {
	  /* color: #ffeb7840; */
	  filter: drop-shadow(0 0 1px #fcde9998);
	}
	82% {
		/* color: #f5f2e3; */
	  filter: drop-shadow(0 0 5px #fcde9998);
	}
	100% {

	  filter: drop-shadow(0 0 2px #fbce6698);
	}
  }


  
  @keyframes neonFlicker {
	0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
	  opacity: 1;
	  /* text-shadow: 0 0 10px #fbce6698, 0 0 20px #fbce6698, 0 0 30px #fbce6698; */
	  text-shadow: 0 0 3px #ffe09798, 0 0 1px #d8c08798, 0 0 2px #c9ad6c98;

	}
	20%, 22%, 24%, 55% {
	  opacity: 0.6;
	  text-shadow: none;
	}
  }