

.filter{
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}



/* neumorphic */
.field{
	border-radius: 1rem;
	/*todo, figure out why var is not working*/
	/* box-shadow: inset 3px 3px 6px  #c4c4c47e, inset -3px -3px 6px #ffffff, inset 0px 0px 20px  #c4c4c47e; */

	color: grey;
	background: #f7f7f7;
	box-sizing: border-box;
	padding: 0 1rem;
	width: 100%;
	height: 48px;
}

.field{
	color: grey;
	background: #f7f7f7;
	border: 1px solid #b1b1b1;
	box-sizing: border-box;
	border-radius: .25rem;
	padding: 0 1rem;
	width: 100%;
	height: 48px;
}

.dropdown{
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	background-image: url('https://www.svgrepo.com/show/80156/down-arrow.svg');		
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: calc(100% - 16px);
}


.search{
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;		
}

.search:focus-visible{
	outline: var(--shadow) auto 0px;

}


/* ACCORDION */
.neumorphic-inv.accordion{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	box-shadow: inset 3px 3px 6px  #c4c4c47e, inset -3px -3px 6px #ffffff, inset 0px 0px 20px  #c4c4c47e;
	box-shadow:  1px 1px 1px #b1b1b1,   -1px -1px 1px #ffff,  5px 5px 10px  #c4c4c47e,  -5px -5px 10px #ffffff; 
	border-radius: 1rem;
}

.accordion-header {
	display: flex;
	height:100%;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	position: relative; 
}

.accordion.expanded{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.filter .tooltip {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	background: #333;
	background: var(--accent-darker);
	color: white;
	color: var(--white);
	padding: 0.5rem;
	border-radius: 4px;
	font-size: 0.875rem;
	white-space: nowrap;
	margin-bottom: 0.5rem;
	z-index: 10;
}

.filter .tooltip::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
}